doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Botones redes sociales
        link(rel="stylesheet", href="style.css")
    body
        .social-media
            a.social-media__link.social-media__link--insta(href="https://www.instagram.com/vasconcelos.png/?hl=pt-br" target="_blank")
                span.social-media__link.social-media__link--insta
                h3.social-media__user @Vasconcelos.exe
            a.social-media__link.social-media__link--face(href="https://www.facebook.com/mateus.vieiravasconcelos" target="_blank")
                span.social-media__icon.icon-face
                h3.social-media__user /MateusVieraVasconcelos
            a.social-media__link.social-media__link--github(href="https://github.com/mateusvaconcelos" target="_blank")
                span.social-media__icon.icon-github
                h3.social-media__user /mateusvaconcelos
        footer.footer-git
            p Bem vindo ao
                a(href="#" target="_blank")  site do vasconcelos 
                    span.icon-github-alt